@model PetStore.Web.ViewModels.Toy.ToyCreateInputModel

<h3>Add new toy</h3>
<div class="mx-auto w-50">
    <form asp-controller="Toy" asp-action="Create" method="post">
        <div>
            <input asp-for="Name" type="text" class="form-control" placeholder="Name..." name="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <br />
        <div>
            <input asp-for="Description" type="text" class="form-control" placeholder="Description..." name="Description">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <br />
        <div>
            <input asp-for="DistributorPrice" type="number" class="form-control" placeholder="Distributor price..." name="DistributorPrice">
            <span asp-validation-for="DistributorPrice" class="text-danger"></span>
        </div>
        <br />
        <div>
            <input asp-for="Price" type="number" class="form-control" placeholder="Price..." name="Price">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <br />
        <div>
            <input asp-for="ImageUrl" type="text" class="form-control" placeholder="ImageUrl..." name="ImageUrl">
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <br />
        <div>
            <input asp-for="BrandId" type="text" class="form-control" placeholder="Brand..." name="BrandId">
            <span asp-validation-for="BrandId" class="text-danger"></span>
        </div>
        <br />
        <div>
            <input asp-for="CategoryId" type="text" class="form-control" placeholder="Category..." name="CategoryId">
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <hr />

        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button type="submit" class="btn btn-dark">Add</button>
        </div>
    </form>
</div>