@model PetStore.Web.ViewModels.Pet.AllPetsViewModel

<h3>List of all pets</h3>

<div>
    @if (!Model.PreviousDisabled)
    {
        <a href="/Pet/All?page=@Model.PreviousPage" class="float-left btn btn-info">Previos</a>
    }

    @if (!Model.NextDisabled)
    {
        <a href="/Pet/All?page=@Model.NextPage" class="float-right btn btn-info">Next</a>
    }
</div>

<br />
<br />

<div class="row">
    @foreach (var item in Model.Pets)
    {
        <div class="col-md-4 card" style="width: 18rem;">
            <img src="@item.ImageUrl" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">@item.Category</h5>
                <p class="card-text">@item.Gender.ToString()</p>
                <p class="card-text">$ @item.Price</p>
                <a href="/Pet/Order/@item.Id" class="btn btn-primary mr-3">Order</a>
                @if (this.User.IsInRole("Admin"))
                {
                    <a href="/Pet/Delete/@item.Id" class="btn btn-danger">Delete</a>
                }
            </div>
        </div>
    }
</div>