@model PetStore.Web.ViewModels.Breed.AllBreedViewModel

<h3>List of all breeds</h3>


<div>
    @if (!Model.PreviousDisabled)
    {
        <a href="/Breed/All?page=@Model.PreviousPage" class="float-left btn btn-info">Previos</a>
    }

    @if (!Model.NextDisabled)
    {
        <a href="/Breed/All?page=@Model.NextPage" class="float-right btn btn-info">Next</a>
    }
</div>

<br />
<br />

<table class="table table-bordered table-striped">

    @foreach (var item in Model.Breeds)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td class="text-center">
                <a href="/Breed/Delete/@item.Id" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    }
</table>