@model PetStore.Web.ViewModels.Breed.CreateInputModel
<h3>Add new breed</h3>

<div class="mx-auto w-50">
    <form asp-controller="Breed" asp-action="Create" method="post">
        <input asp-for="Name" type="text" class="form-control" placeholder="Add..." name="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
        <hr />
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button type="submit" class="btn btn-dark">Add</button>
        </div>
    </form>
</div>