@model PetStore.Services.Models.Food.FoodOrderListingServiceModel

<h1>Are you sure you want to buy the following food?</h1>

<div>
    <p>@Model.Name</p>5
</div>
<div>
    <p>@Model.Price</p>
</div>

<div>
    <a href="/Order/CreateFoodOrder/@Model.Id" class="btn btn-info">Yes</a> &nbsp; <a href="/" class="btn btn-danger">No</a>
</div>