@model PetStore.Web.ViewModels.Category.AllCategoriesViewModel

<h3>List of all categories</h3>

<div>
    @if (!Model.PreviousDisabled)
    {
        <a href="/Category/All?page=@Model.PreviousPage" class="float-left btn btn-info">Previos</a>
    }

    @if (!Model.NextDisabled)
    {
        <a href="/Category/All?page=@Model.NextPage" class="float-right btn btn-info">Next</a>
    }
</div>

<br />
<br />

<table class="table table-bordered table-striped">

    @foreach (var item in Model.Categories)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td class="text-center">
                <a href="/Category/Delete/@item.Id" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    }
</table>