@model PetStore.Web.ViewModels.Order.CreateOrderInputModel

<h3>Are you sere you want to order this item?</h3>

bez input model, samo listing na property
<div class="mx-auto w-50">
    <form asp-controller="Order" asp-action="Create" method="post">
        <div>
            <input asp-for="PurchaseDate" type="datetime" class="form-control" placeholder="Purchase Date..." name="PurchaseDate">
            <span asp-validation-for="PurchaseDate" class="text-danger"></span>
        </div>
        <br />
         i pri izbor na yes se suzdava nov order
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button type="submit" class="btn btn-dark">Add</button>
        </div>
    </form>
</div>